.button3 {
    color:green;
    background-color: black;
    display:
}
.background-gif {
    position: fixed;
    background-size: cover;
    background-image: url(/enviroment-environment-day.gif);
    width: auto;
    height: 100%;
    position: fixed;
}